In [2]:
import pandas as pd
pd.options.display.max_columns = 99

In [3]:
loans = pd.read_csv('loans_2007.csv',nrows = 5)

print(loans)

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  1077501  1296599.0     5000.0       5000.0           4975.0   36 months
1  1077430  1314167.0     2500.0       2500.0           2500.0   60 months
2  1077175  1313524.0     2400.0       2400.0           2400.0   36 months
3  1076863  1277178.0    10000.0      10000.0          10000.0   36 months
4  1075358  1311748.0     3000.0       3000.0           3000.0   60 months

  int_rate  installment grade sub_grade                 emp_title emp_length  \
0   10.65%       162.87     B        B2                       NaN  10+ years
1   15.27%        59.83     C        C4                     Ryder   < 1 year
2   15.96%        84.33     C        C5                       NaN  10+ years
3   13.49%       339.31     C        C1       AIR RESOURCES BOARD  10+ years
4   12.69%        67.79     B        B5  University Medical Group     1 year

  home_ownership  annual_inc verification_status   issue_d  loan_status  \
0           RENT     24000.0            Verified  Dec-2011   Fully Paid
1           RENT     30000.0     Source Verified  Dec-2011  Charged Off
2           RENT     12252.0        Not Verified  Dec-2011   Fully Paid
3           RENT     49200.0     Source Verified  Dec-2011   Fully Paid
4           RENT     80000.0     Source Verified  Dec-2011      Current

  pymnt_plan         purpose                 title zip_code addr_state    dti  \
0          n     credit_card              Computer    860xx         AZ  27.65
1          n             car                  bike    309xx         GA   1.00
2          n  small_business  real estate business    606xx         IL   8.72
3          n           other              personel    917xx         CA  20.00
4          n           other              Personal    972xx         OR  17.94

   delinq_2yrs earliest_cr_line  inq_last_6mths  open_acc  pub_rec  revol_bal  \
0          0.0         Jan-1985             1.0       3.0      0.0    13648.0
1          0.0         Apr-1999             5.0       3.0      0.0     1687.0
2          0.0         Nov-2001             2.0       2.0      0.0     2956.0
3          0.0         Feb-1996             1.0      10.0      0.0     5598.0
4          0.0         Jan-1996             0.0      15.0      0.0    27783.0

  revol_util  total_acc initial_list_status  out_prncp  out_prncp_inv  \
0      83.7%        9.0                   f       0.00           0.00
1       9.4%        4.0                   f       0.00           0.00
2      98.5%       10.0                   f       0.00           0.00
3        21%       37.0                   f       0.00           0.00
4      53.9%       38.0                   f     461.73         461.73

    total_pymnt  total_pymnt_inv  total_rec_prncp  total_rec_int  \
0   5863.155187          5833.84          5000.00         863.16
1   1008.710000          1008.71           456.46         435.17
2   3005.666844          3005.67          2400.00         605.67
3  12231.890000         12231.89         10000.00        2214.92
4   3581.120000          3581.12          2538.27        1042.85

   total_rec_late_fee  recoveries  collection_recovery_fee last_pymnt_d  \
0                0.00        0.00                     0.00     Jan-2015
1                0.00      117.08                     1.11     Apr-2013
2                0.00        0.00                     0.00     Jun-2014
3               16.97        0.00                     0.00     Jan-2015
4                0.00        0.00                     0.00     Jun-2016

   last_pymnt_amnt last_credit_pull_d  collections_12_mths_ex_med  \
0           171.62           Jun-2016                         0.0
1           119.66           Sep-2013                         0.0
2           649.91           Jun-2016                         0.0
3           357.48           Apr-2016                         0.0
4            67.79           Jun-2016                         0.0

   policy_code application_type  acc_now_delinq  chargeoff_within_12_mths  \
0          1.0       INDIVIDUAL             0.0                       0.0
1          1.0       INDIVIDUAL             0.0                       0.0
2          1.0       INDIVIDUAL             0.0                       0.0
3          1.0       INDIVIDUAL             0.0                       0.0
4          1.0       INDIVIDUAL             0.0                       0.0

   delinq_amnt  pub_rec_bankruptcies  tax_liens
0          0.0                   0.0        0.0
1          0.0                   0.0        0.0
2          0.0                   0.0        0.0
3          0.0                   0.0        0.0
4          0.0                   0.0        0.0

How many rows can be read at a time to use less than 5MB of memory?

In [4]:
loans = pd.read_csv('loans_2007.csv',nrows = 3200)

print(loans.memory_usage(deep = True).sum() /  (1024*1024) )

4.959044456481934

In [5]:
total_cols = len(list(loans.columns))
print("Number of columns =", total_cols)

obj_cols = len(list(loans.select_dtypes(include=['object'])))

print("Number of numeric columns =", total_cols - obj_cols)
print("Number of string columns =", obj_cols)

Number of columns = 52
Number of numeric columns = 31
Number of string columns = 21

In [6]:
loans_iter = pd.read_csv('loans_2007.csv',chunksize= 3200)

string_dict = {}
string_rows = {}

# Loop through each chunk
for chunk in loans_iter:
    # Loop through each object column on each chunk
    for c in chunk.select_dtypes(include=['object']):
        unique_lst = []
        row_count = 0
        
        col_stats = {}
        
        if c in string_dict.keys():
            unique_lst = string_dict[c]['unique']
            row_count = string_dict[c]['row_count']     
      
        # Get unique values
        unique_lst.append(chunk[c].value_counts())
        
        # Get total rows 
        row_count += len(chunk[c])
        
        # Save data
        col_stats = {'unique': unique_lst, 'row_count': row_count }
        string_dict[c] = col_stats

# Concatenate  chunk list into one per column
str_combined_dict = {}
for k, v in string_dict.items():
    col_stats = {'unique': pd.concat(v['unique']),
                 'row_count': v['row_count']}
    
    str_combined_dict[k] = col_stats
        
# Calculate unique values and total rows per column    
str_vc = {}    
for k, v in str_combined_dict.items():
    col_stats = {'unique': v['unique'].groupby(level=0).sum(),
                  'row_count': v['row_count']}
    
    str_vc[k] = col_stats

final_str = {}
for c, v in str_vc.items():
    
    less_50_pct_unique = 0 # No
    if len(v['unique'])/v['row_count'] < 0.5:
        less_50_pct_unique = 1 # Yes
        
    col_stats = {'unique': len(v['unique']),
                 'row_count': v['row_count'],
                 'less_50_unique': less_50_pct_unique}
    final_str[c] = col_stats

    
cat_cols = [k for k,v in final_str.items() if v['less_50_unique'] == 1]

print("""How many string columns contain values that are less 
than 50% unique?""",
      len(cat_cols))

How many string columns contain values that are less
than 50% unique? 20

In [75]:
loans_iter = pd.read_csv('loans_2007.csv',chunksize= 3200)

total_mem = 0
memory_chunk_vc = []
for chunk in loans_iter:
    total_mem += chunk.memory_usage(deep= True).sum()

print("Total csv file Memory =",total_mem/(1024*1024))

Total csv file Memory = 66.2467565536499

In [25]:
loans = pd.read_csv('loans_2007.csv',nrows= 10)

# Get list of string column and loop through them to get a sample data
# TO determine which object columns can be converted to a numeric data type
for c in loans.select_dtypes(include=['object']).columns:
    print(c)
    print(loans[c])
    print()

term
0     36 months
1     60 months
2     36 months
3     36 months
4     60 months
5     36 months
6     60 months
7     36 months
8     60 months
9     60 months
Name: term, dtype: object

int_rate
0     10.65%
1     15.27%
2     15.96%
3     13.49%
4     12.69%
5      7.90%
6     15.96%
7     18.64%
8     21.28%
9     12.69%
Name: int_rate, dtype: object

grade
0    B
1    C
2    C
3    C
4    B
5    A
6    C
7    E
8    F
9    B
Name: grade, dtype: object

sub_grade
0    B2
1    C4
2    C5
3    C1
4    B5
5    A4
6    C5
7    E1
8    F2
9    B5
Name: sub_grade, dtype: object

emp_title
0                          NaN
1                        Ryder
2                          NaN
3          AIR RESOURCES BOARD
4     University Medical Group
5         Veolia Transportaton
6    Southern Star Photography
7              MKC Accounting
8                          NaN
9                    Starbucks
Name: emp_title, dtype: object

emp_length
0    10+ years
1     < 1 year
2    10+ years
3    10+ years
4       1 year
5      3 years
6      8 years
7      9 years
8      4 years
9     < 1 year
Name: emp_length, dtype: object

home_ownership
0    RENT
1    RENT
2    RENT
3    RENT
4    RENT
5    RENT
6    RENT
7    RENT
8     OWN
9    RENT
Name: home_ownership, dtype: object

verification_status
0           Verified
1    Source Verified
2       Not Verified
3    Source Verified
4    Source Verified
5    Source Verified
6       Not Verified
7    Source Verified
8    Source Verified
9           Verified
Name: verification_status, dtype: object

issue_d
0    Dec-2011
1    Dec-2011
2    Dec-2011
3    Dec-2011
4    Dec-2011
5    Dec-2011
6    Dec-2011
7    Dec-2011
8    Dec-2011
9    Dec-2011
Name: issue_d, dtype: object

loan_status
0     Fully Paid
1    Charged Off
2     Fully Paid
3     Fully Paid
4        Current
5     Fully Paid
6     Fully Paid
7     Fully Paid
8    Charged Off
9    Charged Off
Name: loan_status, dtype: object

pymnt_plan
0    n
1    n
2    n
3    n
4    n
5    n
6    n
7    n
8    n
9    n
Name: pymnt_plan, dtype: object

purpose
0           credit_card
1                   car
2        small_business
3                 other
4                 other
5               wedding
6    debt_consolidation
7                   car
8        small_business
9                 other
Name: purpose, dtype: object

title
0                                 Computer
1                                     bike
2                     real estate business
3                                 personel
4                                 Personal
5    My wedding loan I promise to pay back
6                                     Loan
7                          Car Downpayment
8     Expand Business & Buy Debt Portfolio
9              Building my credit history.
Name: title, dtype: object

zip_code
0    860xx
1    309xx
2    606xx
3    917xx
4    972xx
5    852xx
6    280xx
7    900xx
8    958xx
9    774xx
Name: zip_code, dtype: object

addr_state
0    AZ
1    GA
2    IL
3    CA
4    OR
5    AZ
6    NC
7    CA
8    CA
9    TX
Name: addr_state, dtype: object

earliest_cr_line
0    Jan-1985
1    Apr-1999
2    Nov-2001
3    Feb-1996
4    Jan-1996
5    Nov-2004
6    Jul-2005
7    Jan-2007
8    Apr-2004
9    Sep-2004
Name: earliest_cr_line, dtype: object

revol_util
0    83.7%
1     9.4%
2    98.5%
3      21%
4    53.9%
5    28.3%
6    85.6%
7    87.5%
8    32.6%
9    36.5%
Name: revol_util, dtype: object

initial_list_status
0    f
1    f
2    f
3    f
4    f
5    f
6    f
7    f
8    f
9    f
Name: initial_list_status, dtype: object

last_pymnt_d
0    Jan-2015
1    Apr-2013
2    Jun-2014
3    Jan-2015
4    Jun-2016
5    Jan-2015
6    May-2016
7    Jan-2015
8    Apr-2012
9    Nov-2012
Name: last_pymnt_d, dtype: object

last_credit_pull_d
0    Jun-2016
1    Sep-2013
2    Jun-2016
3    Apr-2016
4    Jun-2016
5    Jan-2016
6    May-2016
7    Dec-2014
8    Aug-2012
9    Mar-2013
Name: last_credit_pull_d, dtype: object

application_type
0    INDIVIDUAL
1    INDIVIDUAL
2    INDIVIDUAL
3    INDIVIDUAL
4    INDIVIDUAL
5    INDIVIDUAL
6    INDIVIDUAL
7    INDIVIDUAL
8    INDIVIDUAL
9    INDIVIDUAL
Name: application_type, dtype: object

Columns that can be converted to numeric after clean up:

- earliest_cr_line, last_pymnt_d, last_credit_pull_d, 
    - convert to date
- addr_state, initial_list_status, application_type
    - Convert to category
- zip_code
    - Rename column to first_three_digit_zip_code
    - Remove xx
- issue_d
    - Convert to date
- home_ownership, verification_status, loan_status, pymnt_plan, purpose
    - Covert to Category
- emp_length
    - rename it to emp_length_year
    - remove both years and year from the row
- Grade and sub_grade
    - Convert both to category data type
- int_rate, revol_util
    - remove %
    - Convert it to numeric(4,2)
- term
    - Rename it to term_in_months
    - Remove months from each row
    - Convert to int

In [77]:
# Cast object columns to category as they are read from file
cat_cols = {'addr_state': 'category', 'initial_list_status': 'category', 
            'application_type': 'category', 'home_ownership': 'category', 
            'verification_status': 'category', 'loan_status': 'category', 
            'pymnt_plan': 'category', 'purpose': 'category', 
            'grade': 'category', 'sub_grade': 'category'}

# Cast object columns to date as they are read from file
date_cols = ['earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d']

loans_iter = pd.read_csv('loans_2007.csv', chunksize = 3000, 
                         dtype= cat_cols,
                        parse_dates = date_cols)

tot_mem = 0
for chunk in loans_iter:

    # Cleanup and cast object columns to a numeric data type when possible
    chunk['zip_code'] = pd.to_numeric(chunk['zip_code'].str.rstrip('xxx'))
    chunk['emp_length'] = chunk['emp_length'].str.rstrip(' ').str.rstrip('year').str.strip('years')
    chunk['int_rate'] = pd.to_numeric(chunk['int_rate'].str.rstrip('%'))
    chunk['revol_util'] = pd.to_numeric(chunk['revol_util'].str.rstrip('%'))
    chunk['term'] = pd.to_numeric(chunk['term'].str.rstrip(' ').str.rstrip('months'))
    
     
    # Identify float columns with missing data that can be downcast
    for c in chunk.select_dtypes(include=['float']):
          
        missing_value = len(chunk) - chunk[c].count()
        if c in float_cols.keys():
            float_cols[c] += missing_value
        else:
            float_cols[c] = missing_value
    
    # Downscast float column to either float subtypeor integer
    for c in float_cols.keys():
        if float_cols[c] == 0:
            chunk[c] = pd.to_numeric(chunk[c], downcast='float')
        else:
            chunk[c] = pd.to_numeric(chunk[c], downcast='integer')
            
    tot_mem += (chunk.memory_usage(deep=True).sum()/(1024*1024))  

print('New csv Total memory =', tot_mem)

New csv Total memory = 19.4713191986084
here

In [76]:
loans_iter = pd.read_csv('loans_2007.csv',chunksize= 3200)

total_mem = 0
memory_chunk_vc = []
for chunk in loans_iter:
    total_mem += chunk.memory_usage(deep= True).sum()

print("Original csv file Memory =",total_mem/(1024*1024))

Original csv file Memory = 66.2467565536499

In [88]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)

# Create dictionary (key: column, value: list of Series objects representing each chunk's value counts)
str_cols_vc = {}

# Loop through each chunk
for chunk in chunk_iter:
    
    # Get object columns only
    str_cols = chunk.select_dtypes(include=['object'])
    
    # Loop through object columns and get unique values
    for col in str_cols.columns:
        current_col_vc = str_cols[col].value_counts()
        
        #  Save to dictionary
        if col in str_cols_vc:            
            str_cols_vc[col].append(current_col_vc)
        else:
            str_cols_vc[col] = [current_col_vc]

# Combine the value counts.
combined_vcs = {}
for col in str_cols_vc:
    combined_vc = pd.concat(str_cols_vc[col])
    final_vc = combined_vc.groupby(combined_vc.index).sum()
    combined_vcs[col] = final_vc

# Identify possible columns candidates to be converted to category data type
print('Columns low unique values (less than 50%):')
count = 0
for c in combined_vcs.keys():
    if len(combined_vcs[c])/ combined_vcs[c].sum() < 0.5:
        print(c)
        count = 1

if count == 0:
    print('none')

Columns low unique values (less than 50%):
application_type
home_ownership
last_pymnt_d
last_credit_pull_d
loan_status
int_rate
earliest_cr_line
verification_status
zip_code
addr_state
purpose
issue_d
sub_grade
emp_length
revol_util
initial_list_status
term
pymnt_plan
grade